*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
 
/*body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    min-height: 100%;
}*/

.MainContainer{
    width: 95%;
    margin: auto;
    max-width: 1300px;
    display: flex;
    flex-flow: row wrap;
}


header{
    width: 100%;
    padding: 20px;
    display: flex;
    background-color: #297f87;
    justify-content: space-between;
    align-items: center;
    flex-flow:row wrap; /* esta y la siguiente por si alguna linea tiene que ir abajo*/
}

header .logoytitulo {
    font-size: 30px;
}

header .logoytitulo img{
    width: 80px;
    height: 80px;
    vertical-align: top;
}

header .logoytitulo a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    line-height: 80px;
}

header nav{
    width: 40%;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a{
    background: #df2e2e;
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    flex-grow: 1;
}

header nav a:hover{
    background: #e86a6a;
    transition: background-color 1s;
}

.main{
    background-color: #fff7ae;
    padding: 20px;
    flex: 1 1 70%;
    /* flex: 1; */
}

h2{
    margin-bottom: 15px;
}

p{
    padding: 4px;
    text-align: justify;
}

.main article{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.main article:nth-last-child(1){ /*solo afecta al último article*/
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom:none;
}

/*.video{
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video iframe, .video object, .video embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}*/

aside{
    background-color: #F6D167;
    padding: 20px;
    display: flex;
    flex: 1 1 30%;
    /* flex: 0 0 300px; */
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

aside .widget{
    /* background-color: #fff; */
    /* height: 304px; */
    margin: 10px;
}

footer{
    background-color:#297f87;
    display: flex;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .links{
    background: #df2e2e;
    display:flex;
    flex-wrap: wrap;
}

footer .links a{
    flex-grow:1;
    color:#fff;
    padding: 10px;
    text-align: center;
    text-decoration:none;
}

footer .links a:hover{
    background: #e86a6a;
    transition: background-color 1s;
}

footer .social a{
    color: #fff;
    text-decoration: none;
    /* padding: 10px; */
    /* display: inline-block; */
}

@media screen and (max-width: 900px){
    .MainContainer{
        flex-direction: column;
    }
    header{
        flex-direction: column;
        padding: 0;
    }
    header .logoytitulo{
        margin: 20px;
    }
    header nav{
        width: 100%;
    }
    aside {
        flex-direction: row;
        flex: 0;
    }
    aside .widget{
        flex-grow: 1;
    }
    
}

@media screen and (max-width: 600px){
    aside{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer .social{
        margin: 10px;
        }
}

.alertas{
    margin: auto;
    color: red;
    padding-top: 20px;
}


/* estilos del form.html*/

.bloque{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* estilos del contacto */

.lateral .mapa{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    padding-top: 30px;
}

.lateral .mapa iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }